@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.jumbotron{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Amatic SC',serif;
  font-weight: bold;
  font-size: 32px;
  background-color:#FA6688;
  overflow: auto;
}
#header{
   color: white;
   font-family:'Pacifico',serif;
   
}
#search{
  margin:20px;
}
#results{
  font-size:32px;
  
}
#object{
  background-color:white;
  padding: 20px 20px;
  width:500px;
  height:500px;
  overflow: auto;
}
#text{
  font-size: 1vw;
}