/*
*The custom CSS for the Wikipedia Viewer.
*/

/*Custom urls imported from google fonts.*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
body{
}
.container-fluid{
}
/*The CSS for the jumbotron is written to make sure it stays in the center*/
.jumbotron{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Amatic SC',serif;
  font-weight: bold;
  font-size: 32px;
  background-color:#FA6688;
  /*Overflow attribute is set to auto incase the contents are bigger than the jumbotron meaning the jumbotron
  will change size of accomodate and use a scroll bar.*/
  overflow:auto;

}
/*The header */
#header{
   color: white;
   font-family:'Pacifico',serif;
   
}
/*The search bar*/
#search{
  margin:20px;
}
/*Like the jumbotron, it will also be on overflow when the content gets to be too large for the row.*/
.row{
  overflow:auto;
}