/*
  The bootstrap CSS file is used
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.jumbotron{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Amatic SC',serif;
  font-weight: bold;
  font-size: 32px;
  background-color:lightblue;
}
#header{
   color: white;
   font-family:'Pacifico',serif;
   
}
#tempChange{
  position:relative;
  bottom:-30px;
}

